html {
	background-image: url("https://i.ytimg.com/vi/aiU22lKiZbA/maxresdefault.jpg");
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0px;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

.no-padding{
	padding: 0;
}

.floatCenter {
	text-align: center;
}

.titleDIV {
	display: inline-block;
	margin-top: 100px;
	padding: 15px;
}

.title {
	margin: 8px;
	color: white;
	text-align: center;
}

.buffer {
	height: 100px;
}

.navItem {
	display: inline-block;
}

.navtext {
	display: inline-block;
	padding: 25px 0 0 20px;
}

.campusList {
	color: white;
	display: inline-block;
	margin: 30px;
	border: solid gray 2px;
	border-radius: 10px;
	padding: 15px;
}

.enrollBox {
	display: inline-block;
	margin: 30px;
	background-color: #b3d9ff;
	border: solid gray 2px;
	border-radius: 10px;
	padding: 15px;
}

.campusListItem {
	height: 77px;
	width: 100%;
	background-color: lightgray;
	border: solid gray 2px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.campusImage {
	display: inline-block;
	margin: 5px;
	border: solid black 2px;
	border-radius: 8px;
}

.campusInfo {
	display: inline-block;
}

.newCampusBtn {
	color: white;
	text-align: center;
	background-image: url(https://media4.s-nbcnews.com/j/newscms/2014_16/330011/140417-coslog-kepler_f8c4ec47f1cce1f760385f2e547af202.nbcnews-fp-1240-520.jpg);
}

.enrollButton {
	width: 100%;
	border: solid gray 2px;
	border-radius: 10px;
	background-color: gold;
}

.studentInList {
	color: black;
	background-color: lightgray;
	border: solid gray 2px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.StudentInfoC {
	display: inline-block;
	margin-left: 15px;
}

.deleteStudent {
	height: 25px;
	display: inline-block;
	background-color: #b30000;
	margin-left: 30px;
}

.enrollDiv{
	margin: 20px auto;
	width: 150px;
}

.fullImage {
	width: 100%;
	height: 100%;
}

.inputGroup {
	display: inline-block;
	margin: 10px;
}

.inputTextBox {
	color: black;
}

.studentInfo {
	display: inline-block;
	color: black;
	width: 80%;
	margin: 5px 5% 5px 5%;
	background-color: lightgray;
	border: solid gray 2px;
	border-radius: 10px;
}

.studentListItem{
	display: inline-block;
	margin: 0 10px;
}

#navbar {
	background-color: #b3d9ff;
	height: 80px;
}

#submit {
	display: block;
	width: 150px;
	border: solid gray 2px;
	border-radius: 10px;
	background-color: #cc9900;
}

